.navbar-main,
.darkmode-navbar-main {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.navbar-main {
  box-shadow: 0px 0px 20px 0px #abb3ff24;
  background-color: rgb(255, 255, 255);
}

.darkmode-navbar-main {
  box-shadow: 0px 0px 30px 0px #6372f84b;
  background-color: rgb(7, 7, 7);
}

/* .navbar-logo-sec {
  height: 100%;
  width: 30%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #abb3ff;
} */
.navbar-menu-sec {
  height: 100%;
  /* width: 60%; */
  width: 900px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.navbar-menu-items {
  height: 100%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
.navbar-menu-data {
  /* height: 45%; */
  height: 35px;
  width: 100px;
  color: #8e99f8;
  font-size: 0.95rem;
  font-weight: 400;
  border-radius: 10px 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s ease-in-out;
}
.navbar-menu-data:hover {
  background-color: #8e99f8;
  color: aliceblue;
}
.navbar-phone-menu-sec,
.navbar-island-menu-sec {
  display: none;
}


@media screen and (max-width: 900px) {
  .navbar-menu-sec {
    width: 100%;
  }
  .navbar-menu-items {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
  }
}

/* @media screen and (max-width: 400px) {
  .navbar-menu-sec {
    justify-content: center;
  }
  .navbar-menu-items {
    justify-content: center;
    width: 90%;
  }
  .navbar-menu-data {
    height: 45%;
    width: 80px;
  }
} */

@media screen and (max-width: 400px) {
  .navbar-main,
  .darkmode-navbar-main {
    /* justify-content: end; */
    justify-content: center;
    align-items: start;
    background-color: transparent;
    box-shadow: unset;
  }
  .navbar-menu-sec {
    /* display: flex; */
    display: none;
    justify-content: center;
    /* background-color: rgb(0, 213, 255); */
  }
  .navbar-menu-items {
    justify-content: center;
    width: 90%;
  }
  .navbar-menu-data {
    height: 45%;
    width: 80px;
  }

  /* //Dynamic Island */

  .navbar-islandoff-menu-sec {
    margin-top: 15px;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 33px;
    width: 170px;
    box-shadow: 0px 0px 12px rgba(182, 215, 255, 0.689);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    transition: all 0.35s ease-in-out;
  }
  .navbar-island-menu-sec {
    margin-top: 15px;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 120px;
    width: 90%;
    box-shadow: 0px 0px 12px rgba(182, 215, 255, 0.449);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
  }

  .initial-island {
    height: 7px;
    width: 7px;
    background-color: rgb(29, 29, 29);
    transition: all 0.35s ease-in-out;
    border-radius: 50%;
    animation: initialanimation 2s linear infinite;
  }
  @keyframes initialanimation {
    from {
      background-color: rgb(0, 0, 0);
    }
    to {
      background-color: rgb(38, 38, 38);
      transform: scale(1.5);
    }
  }
  .initial-island:nth-child(1) {
    animation-delay: 0s;
  }

  .initial-island:nth-child(2) {
    animation-delay: 0.2s;
  }

  .initial-island:nth-child(3) {
    animation-delay: 0.4s;
  }

  .initial-island:nth-child(4) {
    animation-delay: 0.6s;
  }

  .initial-island:nth-child(5) {
    animation-delay: 0.8s;
  }

  .dynamic-island-section {
    height: 50px;
    width: 20%;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.35s ease-in-out;
    /* animation: textanimation 0.3s linear; */
    animation: textanimation 0.3s linear;
  }
  .dynamic-island-link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    color: white;
    font-size: 0.8rem;
    animation: textanimation 0.3s linear;
  }
  @keyframes textanimation {
    0% {
      opacity: 0;
      margin-top: -100px;
      /* background-color: red; */
    }

    100% {
      margin-top: 0px;
      opacity: 1;
    }
  }

  .dynamic-island-section:nth-child(2) {
    animation-delay: 0.05s;
  }
  .dynamic-island-section:nth-child(3) {
    animation-delay: 0.1s;
  }
  .dynamic-island-section:nth-child(4) {
    animation-delay: 0.15s;
  }

  .dynamic-logo {
    height: 27px;
    width: auto;
    filter: invert(1);
    animation: iconanimation 0.3s linear;
  }
  @keyframes iconanimation {
    from {
      height: 0;
    }
    to {
      height: 30px;
    }
  }
}
