.navbar-main {
  min-height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 0px 20px 0px #abb3ff24;
}
/* .navbar-logo-sec {
  height: 100%;
  width: 30%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: #abb3ff;
} */
.navbar-menu-sec {
  height: 100%;
  /* width: 60%; */
  width: 900px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.navbar-menu-items {
  height: 100%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}
.navbar-menu-data {
  /* height: 45%; */
  height: 35px;
  width: 100px;
  color: #8e99f8;
  font-size: 0.95rem;
  font-weight: 400;
  border-radius: 10px 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s ease-in-out;
}
.navbar-menu-data:hover {
  background-color: #8e99f8;
  color: aliceblue;
}
.navbar-phone-menu-sec,
.navbar-island-menu-sec {
  display: none;
}

@media screen and (max-width: 900px) {
  .navbar-menu-sec {
    width: 100%;
  }
  .navbar-menu-items {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
  }
}

/* @media screen and (max-width: 400px) {
  .navbar-menu-sec {
    justify-content: center;
  }
  .navbar-menu-items {
    justify-content: center;
    width: 90%;
  }
  .navbar-menu-data {
    height: 45%;
    width: 80px;
  }
} */

@media screen and (max-width: 400px) {
  .navbar-main {
    /* justify-content: end; */
    justify-content: center;
    align-items: start;
    background-color: transparent;
    box-shadow: unset;
  }
  .navbar-menu-sec {
    /* display: flex; */
    display: none;
    justify-content: center;
    /* background-color: rgb(0, 213, 255); */
  }
  .navbar-menu-items {
    justify-content: center;
    width: 90%;
  }
  .navbar-menu-data {
    height: 45%;
    width: 80px;
  }
  .navbar-phone-menu-sec {
    margin-top: 15px;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 30px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    transition: all 0.35s ease-in-out;
  }
  .navbar-island-menu-sec {
    margin-top: 15px;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 120px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    transition: all 0.35s ease-in-out;
  }

  .section1 {
    height: 0px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    transition: all 0.35s ease-in-out;
  }

  .section {
    height: 30px;
    width: 20%;
    background-color: cyan;
    transition: all 0.35s ease-in-out;
  }
}
