/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  height: 20px;
  padding: 3px ;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #5caeff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loader 1s infinite linear;
}
@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
